.form {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.inputContainer .input {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  margin: 0.5em;
  font-size: 0.9em;
}

.choose {
  display: flex;
}
.select {
  padding: 0.3em 1em;
  border-radius: 10px;
  border: none;
  margin: 0.3em;
  font-size: 0.9em;
  cursor: pointer;
}
.button {
  justify-self: flex-end;
}
