.button {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;

  font-size: 0.9em;
  text-transform: uppercase;
  background-color: blanchedalmond;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button:hover {
  transform: scale(1.05);
}
