@value editorBg from '../../common/color.css';

.maker {
  flex-basis: 50%;
  border-right: 3px solid white;
  padding: 2em;
  background-color: editorBg;
  overflow-y: auto;
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: black;
}
