.form {
  width: 80%;
  margin: 2em auto;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  border: 3px dotted #310f51;
  border-radius: 1rem;
}
.form h1 {
  color: #fcfcd4;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.inputContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.inputContainer .input {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  margin: 0.3em;
  font-size: 0.9em;
}
.choose {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.select {
  padding: 0 1em;
  border-radius: 10px;
  border: none;
  margin: 0.3em;
  font-size: 0.9em;
  cursor: pointer;
  height: 2em;
  flex: 1;
}

.button {
  justify-self: flex-end;
  margin: 0.3em;
}
