.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1em 2em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1em;
}
.title {
  color: black;
  font-size: 1.5em;
}
